html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #e1f9ff;
}

h2::before {
	display: block;
	content: " ";
	margin-top: -1.8em;
	height: 1.8em;
	visibility: hidden;
	pointer-events: none;
}

.container-fluid {
	padding: 10px 0;
}

.top {
	margin-top: 0.3rem;
}

#map {
	width: 100%;
	height: 75vh;
	position: relative;
	margin-bottom: 1rem;
}

.jumbotron {
	background-image: url("img/ocean-bg3.jpg");
	background-size: cover;
	color: white;
	height: 100vh;
}

#explore {
	color: #ff7944;
}

.title {
	color: #ff7944;
	margin-top: 1rem;
}

#search-form {
	margin-right: 1rem;
}

#show-list {
	border-radius: 0;
}

#side-bar {
	position: absolute;
	left: 0;
	z-index: 99;
	max-height: 100%;
	padding: 0;
	background-color: #f7fdffdc;
	box-shadow: 3px 3px 3px #063149;
	font-size: 1rem;
}

.scroll {
	height: 70vh;
	overflow: hidden;
	overflow-y: scroll;
}

.mapboxgl-popup {
	font-size: 14px;
}

#search-results {
	height: 20vh;
	overflow: scroll;
}

.form-title {
	text-align: center;
	margin-top: 1em;
}

ul,
li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

.alert {
	margin: 0;
}

.btn-danger {
	background-color: #2479a7;
	border: #2479a7;
}

.btn-danger:hover {
	background-color: #095177;
}

.btn-danger:focus {
	background-color: #2479a7;
}

.btn-primary {
	margin: 10px 0;
	background-color: #ff7944;
	border-color: #ff7944;
}

.btn-primary:hover {
	background-color: #ff5a31;
	border-color: #ff7944;
}

.btn-primary:focus {
	background-color: #ff7944;
	border-color: #ff7944;
}

.navbar {
	background-color: #095177;
}

a {
	color: #ff7944;
}

a:hover {
	color: #ff5a31;
}

.forms,
.bucket,
.journal {
	background-color: #03a8b8;
	background-image: url("img/seaturtle.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	height: 95vh;
}

.list-box {
	margin-top: 1rem;
	overflow: scroll;
	height: 80%;
}

.list-group-item {
	background-color: #ffffffd2;
	font-weight: 500;
	margin: 10px;
}

.list-group-item.sl {
	background-color: #fffefe18;
	text-align: left;
	margin: 0;
}

.bi-star-fill {
	color: #ff7944;
}

.error {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.err-img {
	width: 100%;
}

footer {
	background-color: #095177;
	color: white;
	margin-top: auto;
	padding: 5px;
}

footer > p {
	margin: 0;
}

@media (max-width: 575.98px) {
	.title {
		margin-top: 0;
		margin-bottom: 0;
	}

	#search-form {
		margin-bottom: 0;
		margin-right: 0;
	}

	#explore {
		margin-bottom: 2px;
	}

	p {
		margin: 0 3px 5px 3px;
	}

	h2::before {
		margin-top: -1.6em;
		height: 1.6em;
	}
}

@media (max-width: 767px) {
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
}
