{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Dive Atlas</h1>
<p class="text-center">Use the search bar or drop a pin on the map to find nearby dive sites.</p>
<div class="container text-center">
    <form class="form-inline justify-content-center" id="search-form">
        <input required class="form-control" type="search" placeholder="Search" aria-label="Search" id="search-text">
        <button class="btn btn-info" type="submit">Search</button>
    </form>
    <div class="container justify-content-center d-flex m-1 ">
        <div id='map' style='width: 800px; height: 400px;'></div>
    </div>
    <button class="btn btn-info" id="map-search">Search Map</button>
</div>
<div class="container my-2">
    <div id="results" class="text-center"></div>
    <ul id="site-list"></ul>
</div>
{% endblock %}