{% extends 'base.html' %}

{% block content %}
<div class="container-fluid bucket">
    <h1 class="text-center top">Bucket List</h1>
    <div id="msg"></div>
    <div class="container list-box">
        <ul id="site-list list-group list-group-flush">
            {% for site in sites %}
            <li class="list-group-item"><a href="/sites/{{site.id}}">{{site.name}}</a> <span><button class="btn btn-danger px-2 py-0 float-right delete" aria-label="delete" data-id="{{site.id}}"><span aria-hidden="true">&times;</span></button></span></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}