{% extends 'base.html' %}

{% block content %}
{% if not g.user %}
<div class="jumbotron jumbotron-fluid d-flex align-items-center">
    <div class="container mb-5 pb-5 text-center">
        <h1 class="display-4">Dive Atlas</h1>
        <p class="lead">Dive in to find your next great adventure.</p>
        <hr>
        <div>
            <p class="lead"><a href="/signup"> Sign Up</a> to create a bucket list, review dive sites, and use the Dive Journal feature to keep track of your favorite dives. </p>
            <p class="lead">Or scroll down to the <a href="#explore">world map</a> below to discover new dive sites.</p>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid text-center mt-3 pb-0">
    <h2 id="explore">Explore</h2>
    <p class="text-center">Use the search bar or drop a pin on the map to find nearby dive sites.</p>
    <div class="container justify-content-center d-flex search-con">
        <form class="form mr-2" id="search-form">
            <input required class="form-control" type="search" placeholder="Search by name" aria-label="Search" id="search-text">
        </form>
        <button class="btn btn-primary mt-0" id="map-search">Search Map</button>
    </div>
    <div class="container-fluid mx-0 my-2 p-0">
        <div id='map'></div>
    </div>
</div>
<div id="results" class="text-center"></div>
<div class="container my-1 mb-1" id="search-results">
    <ul id="site-list"></ul>
</div>
{% endblock %}

{% block script %}
<script src="static/main-map.js"></script>
{% endblock %}