{% extends 'base.html' %}

{% block content %}
{% if not g.user %}
<div class="jumbotron jumbotron-fluid d-flex align-items-center">
    <div class="container mb-5 pb-5 text-center">
        <h1 class="display-4">Dive Atlas</h1>
        <p class="lead">Dive in to find your next great adventure.</p>
        <hr>
        <div>
            <p class="lead"><a href="/signup"> Sign Up</a> to create a bucket list, review dive sites, and use the Dive Journal feature to keep track of your favorite dives. </p>
            <p class="lead">Or scroll down to the <a href="#explore">world map</a> below to discover new dive sites.</p>
        </div>
    </div>
</div>
{% endif %}
<div class="container-fluid text-center my-3">
    <h2 id="explore">Explore</h2>
    <p class="text-center">Use the search bar or drop a pin on the map to find nearby dive sites.</p>
    <div class="container col-sm-8 col-lg-6 col-xl-4 justify-content-center">
        <form class="form-inline justify-content-center m-0" id="search-form">
            <input class="form-control flex-fill mr-2" type="search" placeholder="Search" aria-label="Search" id="search-text">
            <button type="submit" class="btn btn-primary form-control my-1">Search</button>
        </form>
    </div>
    <div class="container-fluid mx-0 my-2 p-0">
        <div id='map'>
            <div class="col-sm-4 col-lg-3" id="side-bar">
                <div class="container-fluid m-0 p-0">
                    <button class="btn btn-primary btn-block m-0" type="button" data-toggle="collapse" data-target="#list-collapse" aria-expanded="false" aria-controls="list-collapse" id="show-list">
                        Show List
                    </button>
                </div>
                <div class="container scroll collapse p-0" id="list-collapse">
                    <div id="results" class="text-center mt-3 px-3">
                        <p>Enter the name of a dive site in the search bar or add a pin to the map to search by location.</p>
                    </div>
                    <ul id="site-list" class="list-group list-group-flush"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="static/main-map.js"></script>
{% endblock %}